/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*My CSS*/
html body{
	min-width: 900px;
	height: 100%;
}
nav p {
	display: inline-block;
	float: left;
	color: #999;
	margin: 30px 55px;
	font-size: 12px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
nav ul {
	min-width: 28%;
	display: inline-block;
	float: right;
}
nav ul li {
	float: left;
	margin: 30px 12px;
}
nav ul li a {
	text-decoration: none;
	font-size: 12px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
.links:hover {
	color: #6699cc;
}
nav ul li a:visited {
	color: #369;
}
#sign_in {
	color: #18afe0;
}
#sign_in:hover {
	color: #336699;
}
#signals_logo {
	width: 164px;
	margin: 10px auto;
	clear: both;
}
h1 {
	font-size: 55px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.0em;
	color: #232323;
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	letter-spacing: -1px;
	display: block;
	text-align: center;
	clear: both;
}
h5 {
	font-size: 20px;
	font-weight: 500;
	color: #222;
	letter-spacing: 0px;
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	display: block;
	text-align: center;
	margin: 25px 0;
	clear: both;
}
div.blocks {
	width: 670px;
	height: auto;
	margin-right: auto;
	margin-left: auto; 
	clear: both;
}
div.clickable {
	position: relative;
	height: 216px;
	width: 160px;
	text-align: center;
	padding: 20px 10px 10px 10px;	
	margin: 5px 20px;
	background: linear-gradient(#fff, #efefef);
	background: -ms-linear-gradient(#fff, #efefef);
	display: inline-block;
	box-shadow: 0 0 5px #efefef;
}
div.clickable a {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none;
	z-index: 10;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
}
h3 {
	margin: 10px 0 10px;
	
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-weight: bold;
	font-size: 21px;
	color: #369;
}
h3 span {
	text-decoration: underline;
}
.superscripts {
	color: #999;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
	vertical-align: super;
}
h4 {
	margin: 15px 0 10px;
	font-size: 14px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	color: #cc0000;
	font-weight: bold;
	text-decoration: none;
}
div.clickable p {
	color: #222;
	font-size: 14px;
	line-height: 1.4em;
	margin: 15px 0 0 0;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
#asterisks {
	display: block;
	width: 72px;
	height: auto;
	margin: 38px auto;
	clear: both;
}
.swap_h1 {
	font-size: 46px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.0em;
	color: #222;
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	letter-spacing: -1px;
}
.swap_p {
	color: #222;
	font-size: 15px;
	line-height: 1.4em;
	margin: 15px 0 0 0;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;

}
.swap_span {
	color: #369;
	text-decoration: underline;
}
.swap {
	position: relative;
	width: 825px;
	height: 163px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 17px;
	clear: both;
}
#swap1,#swap2,#swap3 {
	display: none;
}
#arrow1 {
	position: absolute;
	z-index: 10000;
	left: 240px;
}
#arrow2 {
	position: absolute;
	z-index: 10000;
	left: 460px;
}
#arrow3 {
	position: absolute;
	z-index: 10000;
	left: 540px;
}